*{
    font-family: 'Roboto', sans-serif;
}
.background-img{
    background-image: url('/images/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1;
    letter-spacing: -.05em;
}
.nav-button{
    background-color: #f15b43;
    color: #fff!important;
    padding: 11px 20px;
    font-size: 16px;
    border-radius: 0;
    font-weight: 400;
    text-transform: capitalize;
    border: 1px solid transparent;
    display: inline-block;
}
.nav-button:hover{
    background-color: rgba(0, 0, 0, 0.281);
    border: 2px solid white;
}
header{
    height: 100vh;
}
/* main section */
.btn-2{
    background-color: #f15b43;
    color: #fff;
    padding: 11px 20px;
    font-size: 16px;
    border-radius: 0;
    font-weight: 400;
    text-transform: capitalize;
    border: 1px solid transparent;
}
.btn-2:hover{
    background-color: transparent;
    color: black;
    border: 2px solid #f15b43;
}
.btn-4:hover{
    background-color: #f15b43;
    color: #fff;
}
.btn-4{
    color: #f15b43;
}
.btn-3, .btn-4{
    border: 2px solid #f15b43;
    padding: 11px 20px;
    font-size: 16px;
    border-radius: 0;
    font-weight: 400;
    text-transform: capitalize;
}
.btn-3:hover{
    background-color: #f15b43;
    color: #fff;
}
.second-section-h2, .third-section-h2{
    color: #263b5c;
    font-size: 46px;
    font-weight: 500;
    line-height: 1.2;
}
.second-section-p, .third-section-p{
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}
.spacing{
    letter-spacing: 3px;
}
/* card section */
.extra-h5{
    color: #263b5c;
    font-size: 26px;
    font-weight: 500;
}
.card-p{
    color: #777;
    font-weight: 300;
    line-height: 1.5;
}
.card:hover{
    border: 1px solid #f15b43;
}
